body {
  font-family: "Roboto", sans-serif;
}
.header a:hover,
.header a:active {
  color: #2196f3;
}
header.header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 25px 225px 25px 215px;
}
header.header nav {
  margin-left: 42px;
}
header.header nav ul {
  display: flex;
}
header.header nav li {
  margin: 0 10px;
}
header li {
  list-style: none;
}
.header a {
  text-decoration: none;
}
.header li a {
  color: #212121;
}
.header {
  justify-content: space-evenly;
}

.link-contact {
  margin-left: auto;
  display: flex;
}
.link-contact li {
  margin: 0 30px;
}

.inco-blue {
  display: none;
}

.link-contact a:hover .inco-blue,
.content-marck picture:hover .inco-blue {
  display: inline;
}

.link-contact a:hover .inco-black,
.content-marck picture:hover .inco-black {
  display: none;
}
.back-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/imagenes/principal.png);
  background-size: cover;
  height: 100%;
  text-align: center;
}
.section1 {
  height: 636px;
}
.section1 h1 {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 140px 0 96px;
  font-style: normal;
  font-weight: 900;
  font-family: "roboto";
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}

.section1 h1:hover {
  color: #2196f3;
}

h1 {
  color: var(--hero-color);
  font-size: 90px;
}

.section1 button {
  background: #2196f3;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  border: none;
}

button a {
  text-decoration: none;
  color: #ffffff;
}
button a:hover {
  color: #01060a;
}

.img-svg img {
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 5px;
  margin: 0 45px 0 0;
}
.content-text div {
  display: flex;
}
.content-text div div {
  flex-direction: column;
}
.content-text div {
  margin: 0 15px;
}

.img {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* styles section2 */

.section2 .content-icon li {
  list-style: none;
  width: 270px;
  margin: 0 30px 0 0;
}

.section2 .content-icon li p {
  font-size: 14px;
  line-height: 24px;
  line-height: 146%;
  vertical-align: Top;
  letter-spacing: 3%;
}

.section2 .content-icon li h4 {
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
}

.section2 ul {
  display: flex;
  justify-content: center;
  margin: 53px 0 99px;
}

.What-we h2 {
  text-align: center;
}

.What-we ul {
  display: flex;
}

.What-we .img li {
  margin: 0 30px 0 0;
  list-style: none;
}

/* style section3 */

section.section3 {
  height: 704px;
  background: #f5f4fa;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 94px 0 0;
}

.section3 ul {
  display: flex;
  justify-content: center;
}

.section3 p {
  color: #757575;
}

.section3 li {
  list-style: none;
  margin: 0 30px 0 0;
  width: 270px;
  height: 428px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
}

.section3 h2 {
  text-align: center;
  margin: 0 auto 50px;
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
}

.section3 .img-main {
  width: 270px;
  height: 260px;
}

.section3 .content-icon {
  display: flex;
  justify-content: space-evenly;
}

.section3 a {
  text-decoration: none;
  width: 44px;
  height: 44px;
  display: block;
  box-sizing: border-box;
  padding: 12px;
}

.section3 a:hover {
  background: #2196f3;
  border-radius: 50px;
}

/* style customer regular */

.customer-regular h2 {
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-align: center;
  margin: 0 0 50px;
}

.customer-regular picture {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-regular picture:hover {
  border: 1px solid #2196f3;
}

.customer-regular {
  margin: 94px auto;
}

.customer-regular .content-marck {
  display: flex;
  justify-content: center;
}

section.section5 ul {
  display: flex;
}

.section5 li img {
  margin: 0 15px;
  width: 270px;
  height: 260px;
}

.footer {
  background: #2f303a;
  /* height: 252px; */
  box-sizing: border-box;
  padding: 60px 0 60px 215px;
}

.footer ul {
  padding: 0;
}

.footer ul li a {
  margin: 0 0 5px;
  display: block;
}

.footer .content-address {
  margin: 0 70px 0 0;
}

.content-address .address-city {
  width: 276px;
  font-size: 14px;
  line-height: 24px;
  vertical-align: Top;
}

footer {
  display: flex;
}

.footer li {
  list-style: none;
}

.footer .logo,
.header .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer .logo:hover,
ul li a:hover {
  text-decoration: underline;
}

.text-direcion ul li a {
  color: #ffffff99;
}

.text-direcion a {
  text-decoration: none;
}

.text-direcion ul li a:hover {
  text-decoration: underline;
  color: #2196f3;
}

.color {
  color: #ffffff;
}

.content-inco ul li {
  display: inline-block;
}

.content-inco ul li a {
  display: block;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  padding: 8px;
  background: #333;
  color: #ffffff;
  line-height: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.content-icon svg {
  width: 20px;
  height: 20px;
}
.content-inco ul li a:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}

.content-inco ul li :hover {
  background: #2196f3;
}
