:root {
  --blue-color: rgba(33, 150, 243, 1);
  --black-color: rgba(33, 33, 33, 1);
  --grey-color: rgba(117, 117, 117, 1);
  --white-color: rgba(255, 255, 255, 1);
  --blackened-color: rgba(47, 48, 58, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Normalice */
* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Custom */
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  width: 1200px;
  margin: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  margin: 0;
}

.nav-block {
  display: flex;
  justify-content: space-between;
}

.nav-flex {
  display: flex;
  gap: 93px;
}

.nav-logo {
  text-decoration: none;
  color: var(--blue-color);
  font-size: 26px;
  line-height: 30.52px;
  font-weight: 700;
  padding-top: 25px;
  display: flex;
}

.nav-info {
  position: relative;
  padding: 32px 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.li-after {
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: var(--black-color);
  line-height: 16.41px;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover {
  color: var(--blue-color);
}

.nav__color {
  color: rgba(33, 150, 243, 1);
}

.div-after {
  bottom: -1px;
  left: 0;
  top: 43px;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--blue-color);
}

.nav-information {
  padding: 32px 0 32px 0;
  margin: 0;
  display: flex;
  gap: 50px;
}

.nav__contact {
  display: flex;
  gap: 10px;
  text-decoration: none;
  color: var(--grey-color);
  line-height: 16.41px;
  font-weight: 500;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__contact:hover {
  color: var(--blue-color);
}

.nav__contact:hover svg {
  fill: var(--blue-color);
}

.nav__svg {
  fill: var(--grey-color);
}

.svg-section {
  display: flex;
  justify-content: space-around;
}

ul {
  list-style: none;
  padding-left: 0;
}

h1 {
  color: var(--white-color);
  line-height: 60px;
  font-weight: 900;
  text-align: center;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.backdrop-padding {
  padding: 93px;
  padding-right: 15px;
  padding-left: 15px;
}

.is-hidden {
  opacity: 0 !important;
  z-index: -1;
}

.modal {
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 581px;
  width: 528px;
  margin: 0 auto;
  background-color: var(--white-color);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 2000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  width: 30px;
  height: 30px;
  padding-bottom: 2px;
  border-radius: 100%;
  z-index: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  padding: 40px;
}

.form__data {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--grey-color);
  cursor: pointer;
}

.form__modal {
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__modal:hover {
  border: 1px solid #2196f3;
}

.form__modal:hover + .form__svg {
  fill: var(--blue-color);
}

.form__style {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
}

.form__svg {
  position: absolute;
  top: 50%;
  left: 3.5%;
  transform: translateY(-30%);
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  font-size: 14px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.form__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-checkbox {
  text-align: center;
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-field-checkbox input {
  cursor: pointer;
}

.form__span {
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: initial;
}

.form__terms {
  text-decoration: none;
  color: var(--blue-color);
}

.form-button {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.form__button {
  width: 200px;
  height: 50px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__svg {
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features__tecno {
  border-radius: 4px;
  width: 70px;
  height: 70px;
}

.details-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.details__service {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.details__text {
  color: var(--grey-color);
  line-height: 24px;
}

.section-width {
  border-radius: 6px;
}

.section-h2 {
  line-height: 46.24px;
  padding-bottom: 50px;
  margin-top: 94px;
  text-align: center;
}

.picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.absolute {
  background-color: rgba(47, 48, 58, 0.8);
  position: relative;
  bottom: 70px;
  width: 373px;
  height: 70px;
}

.absolute__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  padding: 27px 79px;
  color: var(--white-color);
}

.section-backgraund {
  background-color: rgba(245, 244, 250, 1);
  padding-bottom: 94px;
}

.equipment {
  border: 1px solid var(--white-color);
}

.equipment__name {
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
}

.equipment__work {
  text-align: center;
  color: var(--grey-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.equipment__icons {
  padding-top: 16px;
  display: flex;
  justify-content: space-around;
}

.equipment__svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 53px;
  text-align: center;
}

.equipment__svg {
  fill: rgba(175, 177, 184, 1);
}

.equipment__svg:hover {
  background-color: var(--blue-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.equipment__svg:hover svg {
  fill: var(--white-color);
}

.customers-h2 {
  line-height: 46.24px;
  padding-bottom: 44.02px;
  margin-top: 59px;
  text-align: center;
}

.customers {
  margin-bottom: 151px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
}

.customers__svg {
  border: 1px solid var(--grey-color);
  width: 170px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition-property: color;
}

.customers__svg:hover {
  border: 1px solid var(--blue-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__svg {
  border: solid 1px rgba(175, 177, 184, 1);
  border-radius: 4px;
}

.customers__svg:hover svg {
  fill: var(--blue-color);
}

.customers__icon {
  fill: var(--grey-color);
}

footer {
  background-color: var(--blackened-color);
}

.container-footer {
  height: 252px;
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 70px;
}

.footer-info {
  width: 231px;
}

.footer-logo {
  text-decoration: none;
  color: var(--blue-color);
  font-size: 26px;
  line-height: 30.52px;
  font-weight: 700;
  display: flex;
}

.footer-information {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}

.footer__city {
  color: var(--white-color);
  font-weight: 400;
  line-height: 24px;
}

.footer__contact {
  color: var(--grey-color);
  font-weight: 400;
  line-height: 24px;
}

.networks {
  display: flex;
  flex-direction: column;
}

.h3-color {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  color: var(--white-color);
}

.networks-svg {
  display: flex;
  gap: 22px;
}

.networks-svg > li > svg:hover {
  cursor: pointer;
  color: var(--white-color);
}

.networks__svg {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  line-height: 53px;
  text-align: center;
  transition-property: color;
}

.networks__svg svg {
  fill: var(--white-color);
}

.networks__svg:hover {
  background-color: var(--blue-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.h3-section {
  display: flex;
}

.bulletin {
  display: flex;
  gap: 12px;
}

.bulletin__informative {
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
}

.bulletin__button {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 20px;
}

.filter {
  display: flex;
  justify-content: center;
}

.filters {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-bottom: 56px;
  padding-top: 112px;
  border-radius: 4px;
}

.filters__button {
  color: var(--black-color);
  background: rgba(245, 244, 250, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
.filters__button:hover {
  color: var(--blue-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.picture__card {
  height: 404px;
  border: 1px solid rgba(238, 238, 238, 1);
  overflow: hidden;
  position: relative;
}

.picture__card:hover .card-animation {
  top: 0;
  margin: 0;
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.picture__h2 {
  padding-left: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}

.picture__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  color: var(--grey-color);
  text-decoration: none;
  padding-left: 24px;
}

.card-animation {
  width: 370px;
  margin-top: 40px;
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  position: absolute;
}

.card__text {
  padding: 63px 24px;
  color: var(--white-color);
}

.solution {
  height: 600px;
  padding-bottom: 94px;
  padding-top: 94px;
  margin-bottom: 89px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 1);
  background-image: url(../img/fondo-estudio.svg);
}

.solution__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

.solution__h1 {
  width: 696px;
  font-size: 44px;
  margin-bottom: 30px;
}

.solution__button {
  width: 260px;
  height: 50px;
}

button {
  color: var(--white-color);
  background-color: var(--blue-color);
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: backgranun-color 250ms var(--cubic);
}

h3 {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  padding-bottom: 10px;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.menu-toggle:hover .wer svg {
  color: var(--blue-color);
  background-color: var(--blue-color);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding-left: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 480px;
  height: 796px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--black-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 46.88px;
}

.nav-span {
  color: var(--black-color);
}

.picture__img {
  width: 373px;
}

/*tablet*/
@media screen and (max-width: 768px) {
  .nav-block {
    border-bottom: solid 1px var(--grey-color);
    width: 768px;
  }
  .nav-logo {
    padding-left: 15px;
  }
  .nav-information {
    padding-right: 21px;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .modal {
    width: 450px;
    top: 38%;
    left: 33%;
  }
}

@media screen and (max-width: 768px) {
  .solution__h1 {
    width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .details-features {
    width: 768px;
  }
  .details__service {
    width: 354px;
  }
  .features__svg {
    width: 354px;
  }
  .details__text {
    width: 354px;
  }
  h3 {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .section-mobile {
    display: none;
  }
  .section-width {
    width: 100%;
  }
  .section-h2 {
    width: 65%;
  }
  .picture {
    width: 768px;
    justify-content: space-evenly;
  }
  .equipment {
    width: 354px;
  }
  img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (max-width: 768px) {
  .customers-h2 {
    width: 65%;
  }
}

@media screen and (max-width: 768px) {
  .customers {
    width: 64%;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .customers__svg {
    width: 226px;
    height: 92px;
  }
}

@media screen and (max-width: 768px) {
  .container-footer {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    width: 768px;
    height: 464px;
  }
  .h3-section {
    justify-content: center;
  }
  .bulletin-position {
    position: absolute;
    top: 250px;
    right: 180px;
  }
  .bulletin__informative {
    width: 100%;
  }
  .bulletin {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .picture__height {
    height: 294px;
  }
}

/*fin*/

@media screen and (max-width: 480px) {
  .menu-toggle {
    display: block;
    padding-right: 22px;
  }
}

@media screen and (max-width: 480px) {
  .nav-block {
    border-bottom: solid 1px var(--grey-color);
    width: 480px;
  }
  .nav-info {
    display: none;
  }
  .nav-logo {
    padding-left: 15px;
    padding-bottom: 15px;
  }
  .nav-information {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .backdrop {
    width: 480px;
  }
  .modal {
    width: 450px;
    top: 20%;
    left: 50%;
  }
}

@media screen and (max-width: 480px) {
  .solution__h1 {
    width: 360px;
  }
}

@media screen and (max-width: 480px) {
  .details-features {
    width: 480px;
  }
  .details__service {
    width: 450px;
  }
  .features__svg {
    width: 450px;
  }
  .details__text {
    width: 450px;
  }
  h3 {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .section-h2 {
    width: 40%;
  }
  .picture__img {
    width: 100%;
    padding-left: 55px;
  }
}

@media screen and (max-width: 480px) {
  img {
    width: 450px;
    height: 460px;
  }
  .equipment__icons {
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 480px) {
  .customers-h2 {
    width: 40%;
  }
  .customers {
    flex-wrap: wrap;
    width: 39%;
    margin-bottom: 80px;
    padding-left: 12px;
  }
  .customers__svg {
    width: 210px;
    height: 92px;
  }
}

@media screen and (max-width: 480px) {
  .container-footer {
    flex-wrap: wrap;
    width: 480px;
    height: 604px;
  }
  .footer-info {
    width: 100%;
  }
  .footer-logo {
    padding-left: 170px;
  }
  .footer-information {
    padding: 0;
    padding-left: 60px;
  }
  .footer__contact {
    padding-left: 100px;
  }
  .networks {
    width: 100%;
  }
  .networks-svg {
    justify-content: center;
  }
  .h3-color {
    text-align: center;
  }
  .bulletin__informative {
    width: 450px;
  }
  .bulletin-position {
    position: unset;
  }
  .bulletin {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .section-mobile {
    display: none;
  }
  .filters {
    flex-wrap: wrap;
    width: 305px;
  }
  .picture {
    width: 480px;
  }
  .equipment {
    width: 450px;
  }
  .picture__card {
    width: 450px;
  }
  .card-animation {
    width: 450px;
    height: 404px;
  }
}

.mobile-contact {
  position: absolute;
  top: 50%;
  padding-left: 10px;
}

.mobile__menu {
  font-weight: 500;
  font-size: 34px;
  line-height: 39.84px;
  letter-spacing: 2%;
}
.mobile__tel {
  text-decoration: none;
  color: var(--blue-color);
}

.mobile__mail {
  margin-top: 36px;
  color: var(--grey-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 28.13px;
  letter-spacing: 2%;
}

.mobile-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2%;
  padding-left: 10px;
  margin-bottom: 48px;
  color: var(--blue-color);
  cursor: pointer;
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 20px;
}

.mobile__link {
}
