:root {
  --blue-color: #2196f3;
  --main-color-dark: #212121;
  --grey-color: rgba(117, 117, 117, 1);
  --white-color: #ffffff;
  --blackened-color: rgba(47, 48, 58, 1);
  --color-de-parrafo: #757575;
  --main-transition-duration: 250m;
  --main-transition-function: (0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.level-header {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.nav-list {
  display: flex;
  gap: 50px;
}

.nav-information {
  font-family: "roboto";
  font-weight: 500;
  font-size: 1.1;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--normal-color);
  position: relative;
}

.after-header {
  bottom: -1px;
  left: 0;
  top: 43px;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
}

.nav__contact:hover svg,
.nav__contact:focus svg {
  fill: var(--blue-color);
}

.link-contact {
  gap: 50px;
  padding: 32px 0 32px 0;
}
.nav__contact {
  display: flex;
  gap: 10px;
  font-size: 15px;
  line-height: 16.41px;
  font-weight: 500;
  fill: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

g .svg-contat {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-gray-color);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.back-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.5)),
    url(/img/principal.png);
  background-size: cover;
  height: 100%;
  text-align: center;
}
.section1 {
  height: 600px;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
}
.section1 h1 {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 140px 0 96px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}

h1 {
  color: var(--hero-color);
  font-size: 90px;
}

.solution-button {
  width: 260px;
  height: 50px;
}
.section1 button {
  color: #ffffff;
  background: #2196f3;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: bacgranun-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
  transition-property: bacgranun-color;
}

button a {
  text-decoration: none;
  color: #ffffff;
}
button a:hover {
  color: #01060a;
}

.img-svg svg {
  background: #f5f4fa;
  width: 270px;
  height: 120px;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 5px;
  margin: 0 45px 0 0;
}
.content-text div {
  display: flex;
}
.content-text div div {
  flex-direction: column;
}
.content-text div {
  margin: 0 15px;
}

.img {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* styles section2 */

.list-vector {
  list-style: none;
  width: 270px;
  margin: 0 30px 0 0;
}

.list__vector-images {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.section2 .content-icon li h4 {
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
}

.vector-captions {
  font-size: 16px;
  line-height: 16.41px;
  font-weight: 700;
  padding-bottom: 10px;
}

.paragraph-vector {
  color: var(--color-de-parrafo);
  font-size: 16px;
  line-height: 24px;
  line-height: 146%;
  vertical-align: Top;
}
.subtitle-one {
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-align: center;
  margin: 0 0 50px;
}

.pictur {
  display: flex;
}

.picture-img {
  margin: 0 30px 0 0;
  list-style: none;
}

.we-make {
  position: relative;
}
.absolute {
  position: relative;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 85px;
  width: 373px;
  height: 70px;
}
.absolute__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  text-align: center;
  padding: 27px 79px;
  color: #fff;
}

/* style section3 */
.Our-Team__menu {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.titulo {
  font-family: "roboto";
  font-size: 36px;
  line-height: 42px;
  color: var(--normal-color);
}

section.section3 {
  height: 704px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px;
}

.lista-quipo {
  display: flex;
  justify-content: center;
}
.lista-quipo:hover {
  color: var(--brand-color);
}

.equipment__work {
  color: var(--primary-gray-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
}

.Our-Team__links:hover svg {
  fill: var(--white-color);
}
.Our-Team__links:hover {
  background: #2196f3;
}

.Our-Team__links {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 7px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.name-worker {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 100%;
  vertical-align: Top;
  color: var(--normal-color);
}

.group-svg {
  list-style: none;
  margin: 0 30px 0 0;
  width: 270px;
  height: 428px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  text-align: center;
  border: 1px solid #fff;
}

.section3 h2 {
  text-align: center;
  margin: 0 auto 50px;
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
}
/* style customer regular */

.customer-regular h2 {
  font-size: 36px;
  line-height: 42px;
  line-height: 100%;
  vertical-align: Top;
  letter-spacing: 3%;
  text-align: center;
  margin: 0 0 50px;
}

.svg-clientes {
  display: flex;
  justify-content: center;
}

.links__customer {
  width: 170px;
  height: 92px;
  fill: var(--color-de-parrafo);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links__customer:hover {
  border: 1px solid var(--blue-color);
  fill: var(--blue-color);
}

.customer-regular {
  margin: 94px auto;
}

.customer-regular .content-marck {
  display: flex;
  justify-content: center;
}
/* setion5*/

section.section5 ul {
  display: flex;
}

.section5 li img {
  margin: 0 15px;
  width: 270px;
  height: 260px;
}

.footer {
  background: #2f303a;
  box-sizing: border-box;
  padding: 60px 0 60px 215px;
}

.footer ul {
  padding: 0;
}

.footer ul li use {
  margin: 0 0 5px;
  display: block;
}

.footer .content-address {
  margin: 0 70px 0 0;
}

.content-address .address-city {
  width: 276px;
  font-size: 14px;
  line-height: 24px;
  vertical-align: Top;
}

.content-social__networks {
  display: flex;
}

.space {
  margin-right: 58px;
}

footer {
  display: flex;
}

.footer li {
  list-style: none;
}

.footer .logo,
.header .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.text-direcion ul li a {
  color: #ffffff99;
}

.text-direcion a {
  text-decoration: none;
}

.footer-title {
  color: #ffffff;
}

.footer-menu__list {
  display: flex;
  gap: 10px;
}

.footer-link {
  display: flex;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  padding: 10px;
  box-sizing: border-box;
  background: #333;
  fill: #ffffff;
  line-height: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}

.footer-link:hover {
  background: var(--blue-color);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  filter: none;
}

.equipment__svg:hover {
  fill: #ffffff;
}

.equipment__svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  line-height: 53px;
  text-align: center;
  fill: #afb1b8;
}
.blanco {
  border-radius: 50%;
  line-height: 53px;
  text-align: center;
}

.lookfor {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  text-align: center;
  display: flex;
}

.lookfor-h3 {
  display: flex;
  color: #ffffff;
}

.container__networks-footer {
  display: flex;
}

.contec-space {
  margin-right: 58px;
}
.bulletin {
  display: flex;
  gap: 12px;
}

.bulletin__informative {
  padding-left: 16px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
}

.bulletin__button {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 20px;
}

/* estilos de portafolio*/

.boy {
  background: #e5e5e5;
}

/* styles header*/

.header a:hover,
.header a:focus {
  color: #2196f3;
}

.header a {
  text-decoration: none;
}

header.header {
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #ececec;
  box-sizing: border-box;
  padding: 31px 0;
}

.header ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

li {
  list-style: none;
}
.header li a {
  color: var(--normal-color);
}
/*style nav*/

nav.button {
  margin: 80px auto 50px;
  display: flex;
  justify-content: center;
}

nav.button button {
  background: #f5f4fa;
  height: 38px;
  padding: 0 15px;
  margin: 0 4px;
  border: none;
  border-radius: 4px;
}

nav.button button:hover {
  color: white;
  background-color: #2196f3;
}

.button li {
  text-decoration: none;
}
.button li {
  list-style: none;
}

.button ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #fff;
  margin: 0;
}

/* secion de fotos*/
.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
}
.portfolio-links:hover .overlay,
.portfolio-links:focus .overlay {
  transform: translateY(0%);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  width: 1200px;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--basic-color);
  color: var(--white-color);
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 2.5;
  letter-spacing: 0.03em;
}

.project {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #eeeeee;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-title {
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin: 0;
  margin-bottom: 4px;
  max-width: 345px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}
.portfolio-type {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--color-de-parrafo);
  margin: 0px;
}

.title_footer {
  color: var(--white-color);
}

.after {
  bottom: -1px;
  left: 0;
  top: 43px;
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: #2196f3;
}
/* fin secion de fotos*/

.footer {
  display: flex;
  background: #2f303a;
  box-sizing: border-box;
  padding: 60px 0 60px 215px;
}

.footer .content-address {
  margin: 0 70px 0 0;
}

.menu-portafolio {
  display: flex;
}

.link-portafolio {
  display: flex;
  border-radius: 50px;
  width: 44px;
  height: 44px;
  padding: 10px;
  box-sizing: border-box;
  background: #333;
  fill: #ffffff;
  line-height: 20px;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.2);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 0.2s;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}

.content-address .address-city {
  width: 276px;
  font-size: 14px;
  line-height: 24px;
  vertical-align: Top;
}

.footer li {
  list-style: none;
}

.footer .logo,
.header .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.text-direcion a {
  text-decoration: none;
  color: #ffffff99;
}

/* inicio ventana modal*/

.backdrop {
  z-index: 8;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.is-hidden {
  opacity: 0 !important;
  z-index: -1;
}

.modal {
  position: absolute;
  top: 53%;
  left: 50%;
  /*height: 100%;*/
  max-height: 650px;
  width: 528px;
  margin: 0 auto;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal .modal__close {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px black;
  border-radius: 50px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: absolute;
  margin-left: 491px;
  padding: 0;
  margin-top: 7px;
}

.form {
  padding: 40px;
}

.form__data {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0px;
}

.modal-form-input:focus {
  fill: red;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid var(--blue-color);
}

.form__textarea {
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
  font-size: 14px;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  cursor: pointer;
  color: var(--color-de-parrafo);
}

.input-container:hover svg,
.input-container:focus svg {
  fill: var(--blue-color);
}

.input-container {
  padding-right: 57px;
  position: relative;
  fill: var(--main-color-dark);
  transition: fill var(--main-transition-duration)
    var(--main-transition-function);
}

.modal-form-input {
  margin-top: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: var(--secondary-text-size);
  transition: border-color var(--main-transition-duration)
    var(--main-transition-function);
}

.input-placeholder-icon-container {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 18px;
  height: 18px;
  fill: var(--logo-color);
}

.label-checkbox {
  flex-direction: row;
  margin-bottom: 0;
  align-items: center;
}
.checkbox-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid var(--main-color-dark);
  border-radius: 2px;
  fill: var(--main-color-light);
}

.modal-form-label-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.modal-form-label-checkbox:checked + .checkbox-icon-container {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.checkbox-icon {
  width: 100%;
  height: 100%;
}

.form-button {
  margin: 8px;
  display: flex;
  justify-content: center;
}

.form__button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: var(--blue-color);
}
button {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: backgranun-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*fin ventana modal*/
